@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


:root{
    --VeryLightGrayishBlue: hsl(240, 78%, 98%);
    --LightGrayishBlue: hsl(234, 14%, 74%);
    --GrayishBlue: hsl(233, 13%, 49%);
    --DarkGrayishBlue: hsl(232, 13%, 33%);
    --LinearGradient: linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%))
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat',sans-serif;
}

/* wrapper */
.wrapper{
    max-width: 1440px;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: hsl(233, 23%, 92%);
    background-image: url('/images/bg-top.svg'),url('/images/bg-bottom.svg');
    background-position: right top, left bottom;
    background-repeat: no-repeat no-repeat;
    padding: 70px 0;
}

/* header */
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
header{
    font-size: 20px;
    color: var(--GrayishBlue);
    padding: 0 0 40px 0;
}

/* toggle */
.toggle-wrapper{
    display: flex;
    align-items: center;
    padding: 0 0 50px ;
}
.toggle{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.label{
    width: 65px;
    height: 30px;
    border-radius: 30px;
    background:var(--LinearGradient);
    position: absolute;
    cursor: pointer;
}
.ball{
    width: 1.6em;
    height: 1.6em;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 3px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
#checkbox:checked ~ label .ball{
    transform: translateX(2em);
}
#checkbox{
    display: none;
}
p{
    font-size: 14px;
    color: var(--LightGrayishBlue);
    margin: 0 50px;
}

/* container */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

/* section */

.sections{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}
#basic,
#master{
    padding: 15px 0;
    background-color: var(--VeryLightGrayishBlue);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
#basic{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#master{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#pro{
    padding: 50px 0;
    background: var(--LinearGradient);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    width: 35%;
    border-radius: 10px;
}
.pro-title{
    color: var(--VeryLightGrayishBlue);
}
h2{
    font-size: 16px;
    padding: 20px 0;
    color: var(--GrayishBlue);
}
.price{
    font-size: 45px;
    color: var(--DarkGrayishBlue);
    padding: 0 0 15px 0;
}
/* smalls */
.smalls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}
small{
    font-size: 13px;
    padding:20px 0;
    color: var(--GrayishBlue);
    border-top: 1px solid var(--GrayishBlue);
    width: 90%;
    text-align: center;
}
small:nth-last-child(2){
    border-bottom:1px solid var(--GrayishBlue);
}

/* buttons */ 

.bam-btn{
    outline: none;
    border: none;
    padding: 10px 0;
    background: var(--LinearGradient);
    border-radius: 5px;
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: var(--VeryLightGrayishBlue);
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 100%;
}
.bam-btn:hover{
    background: var(--VeryLightGrayishBlue);
    color: hsl(237, 63%, 64%);
    border: 1px solid var(--GrayishBlue);
    cursor:pointer;
}
.pro-btn{
    outline: none;
    border: none;
    padding: 15px 0;
    background: var(--VeryLightGrayishBlue);
    border-radius: 5px;
    margin: 15px 0;
    font-size: 16px;
    font-weight: 700;
    color:hsl(237, 63%, 64%);
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 100%;
    
}
.pro-btn:hover{
    background:var(--LinearGradient) ;
    color: var(--VeryLightGrayishBlue);
    border: 2px solid var(--GrayishBlue);
    cursor: pointer;
}


@media (max-width:768px){
    .wrapper{
        background-image: url('/images/bg-top.svg');
        background-position: 300px 0px;
    }
    .toggle{
        margin-left: -20px;
    }
    
    .sections{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section{
        width: 100%;
        margin: 15px 0;
    }
    #pro{
        width: 100%;
    }
    #basic{
        border-radius: 10px;
    }
    #master{
        border-radius: 10px;
    }
    @media screen and (device-aspect-ratio: 40/71) {
        .wrapper{
            background-image: url('/images/bg-top.svg');
            background-position: 200px 0px;
        }
        .toggle{
            margin-left: -20px;
        }
        
    }
}